<!-- Title -->
{% if page.title -%}
    <title>{{ page.title }} | {{ site.name }}</title>
    <meta name="twitter:title" content="{{ page.title }} | {{ site.name }}">
    <meta property="og:title" content="{{ page.title }} | {{ site.name }}"/>
{% else -%}
    <title>{{ site.name }}</title>
    <meta name="twitter:title" content="{{ site.name }}">
    <meta property="og:title" content="{{ site.name }}"/>
{% endif -%}

<!-- Description -->
{% if page.description -%}
    <meta name="description" content="{{ page.description }}" />
    <meta name="twitter:description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}"/>
{% elsif page.excerpt -%}
    <meta name="description" content="{{ page.excerpt | strip_html }}" />
    <meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
    <meta property="og:description" content="{{ page.excerpt | strip_html }}"/>
{% else -%}
    <meta name="description" content="{{ site.description }}" />
    <meta name="twitter:description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}"/>
{% endif -%}

<!-- Author -->
<meta name="author" content="Pearl Slayton"/>

<!-- Banner -->
{% if page.banner -%}
    <meta property="og:image" content="{{ site.url | append: page.banner }}"/>
    <meta name="twitter:card"  content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url | append: page.banner }}"/>
{% elsif page.label and page.index -%}
    <meta property="og:image" content="{{ site.url | append: '/assets/games/' | append: page.label | append: '/' | append: page.index | append: '/banner.jpg'}}"/>
    <meta name="twitter:card"  content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url | append: '/assets/games/' | append: page.label | append: '/' | append: page.index | append: '/banner.jpg'}}"/>
{% endif -%}

<!-- Misc. -->
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ site.url | append: page.url }}"/>
<meta property="og:site_name" content="{{ site.name }}"/>