html
{
	cursor: url(/assets/cursor-default.png), default;
}

body
{
	font-family: "Yatra One", system-ui;
	font-weight: 400;
	font-style: normal;
	
	background-image: url("/assets/trees.png");
	background-position: center;
	width: 768px;
	margin: 0 auto;
}

header
{
	text-align: center;
}

footer
{
	text-align: center;

	background-color: #87bd8e;
}

footer, .content, .links
{
	padding: 1rem;
}

.container
{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	
	background-color: #87bd8e;
}

.content
{
	width: 75%;
	
}

.links
{
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: end;
	
	text-align: right;
}

h1, h2, h3, h4, h5, h6
{
	font-family: "Rubik Bubbles", system-ui;
	font-weight: 400;
	font-style: normal;
}

a:hover
{
	cursor: url(/assets/cursor-pointer.png), pointer;
}